model {
  ssd {
    num_classes: 1  # Número de clases en tu conjunto de datos
    ...
    box_predictor {
      convolutional_box_predictor {
        ...
        num_classes: 1  # Número de clases en tu conjunto de datos
      }
    }
    ...
  }
}

train_config: {
  batch_size: 24
  num_steps: 50000  # Ajusta según tus necesidades
  fine_tune_checkpoint: "ssd_mobilenet_v2_coco_2018_03_29/model.ckpt"
  fine_tune_checkpoint_type: "detection"
  from_detection_checkpoint: true  # Importante para transfer learning
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    ssd_random_crop {
    }
  }
}

train_input_reader: {
  label_map_path: "data/label_map.pbtxt"
  tf_record_input_reader {
    input_path: "InriData/Train/Records/train.record"
  }
}

eval_config: {
  num_examples: 8000
  max_evals: 10
}

eval_input_reader: {
  label_map_path: "data/label_map.pbtxt"
  shuffle: false
  num_readers: 1
  tf_record_input_reader {
    input_path: "InriData/Test/Records/test.record"
  }
}